<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Fronteira abertas</title>

  <link rel="shortcut icon" href="./image/favicon.ico">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
  <link rel="stylesheet" type="text/css" href="../view/css/app.css" />
</head>

<body>
  <?php include 'header.html';?>

  <div class="container">
    <div class="row" id="formAluno">
      <h5 class="title">Adicionar uma nova aluno</h5>
      <div class="col-sm-12">
        <form id="adicionarAluno" action="javascript:enviarForm()">
          <div class="row">
            <div class="col-sm-5">
              <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" aria-describedby="nomeHelp" id="nome"
                  placeholder="Digite seu nome">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="cpf">Cpf</label>
                <input type="text" class="form-control" id="cpf" maxlength="11" placeholder="Digite seu cpf">
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <label for="idade">Idade</label>
                <input type="number" class="form-control" id="idade" maxlength="2" placeholder="Digite sua idade">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group">
                <label for="curso">Curso</label>
                <input type="text" class="form-control" id="curso" placeholder="Digite seu Curso">
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <label for="matricula">Matricula</label>
                <input type="text" class="form-control" id="matricula" maxlength="3" placeholder="Digite sua Matricula">
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <label for="sexo">Sexo</label>
                <br />
                <div class="form-check-inline">
                  <label class="form-check-label">&nbsp;</label>
                  <input type="radio" class="form-check-input" value="Masculino" name="sexo">Masculino
                </div>
                <div class="form-check-inline">
                  <label class="form-check-label">&nbsp;</label>
                  <input type="radio" class="form-check-input" value="Feminino" name="sexo">Feminino
                </div>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <label style="width: 100%;">&nbsp;</label>
                <input type="submit" class="btn btn-primary" value="Enviar" onclick="go()">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="form-group">
        <div class="float-right">
          <button type="button" class="btn btn-primary" id="back" onclick="voltar()">Voltar</button>
        </div>
      </div>
    </div>

  </div>

  <?php include 'footer.html';?>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script type="text/javascript" src="../view/js/app.js"></script>
</body>

</html>